# Que 4

In [21]:
x = int(input("enter num ="))

if(x > 0):
    print("Number is positive")
elif(x < 0):
    print("Number is Negative")
else:
    print("Entered Number is Zero")

enter num1 = 0

Entered Number is Zero

# Que10

In [40]:
x = int(input("enter num ="))

if (x%2 == 0):
    print("Entered Number is Even")
else:
    print("Entered Number is Odd")

enter num = 4

Entered Number is Even

# Que11

In [37]:
y = str(input("Enter Letter : "))

if (y == "a","e","i","o","u"):
    print("Your Entered letter is Vowel")
else:
    print ("Thank you")

Enter Letter :  u

Your Entered letter is Vowel

# Que9

In [42]:
x = 5
y = 6

print("Before Swapping :", x, y)

x = x+y
y = x-y
x = x-y

print("After Swapping :", x, y)

Before Swapping : 5 6
After Swapping : 6 5

# Que12

In [ ]:
x = int(input("Enter Num 1 :"))
y = int(input("Enter Num 2 :"))
z = int(input("Enter Num 3 :"))

if(x==y or y==z or z==x):
    print("Addition is : zero")
else:
    print("Addition is : ", x+y+z)

# Que13

In [114]:
x = int(input("Enter Num 1 :"))
y = int(input("Enter Num 2 :"))

if(x+y==5 or x-y==5 or x==5 or y==5):
    print("True")
    
else:
    print(x+y)

Enter Num 1 : 4
Enter Num 2 : 6

10

# Que 15

In [87]:
x = "Mufiz"
y = len(x)

print(y)

5

# Que-5

In [15]:
a = 5
b = 1

for n in range(1,a+1):
    b = b * n
    print(b)

1
2
6
24
120

# Que-6

In [16]:
x = int(input("Enter value of terms : "))
n1 = 0
n2 = 1
count = 0 

print("Fibonaci series upto " ,x, " :")
while count < x:
    print(n1)

    nth = n1 + n2
    n1 = n2 
    n2 = nth
    count += 1

Enter value of terms :  10

Fibonaci series upto  10  :
0
1
1
2
3
5
8
13
21
34

# Que-16

In [39]:
x = "Mufiz is writing a code using refer code"
y = x.count("code")
y

2

# Que-18

In [4]:
def count_substring(main_string, substring):
    return main_string.count(substring)

main_string = input("Enter the main string: ")
substring = input("Enter the substring to count: ")

occurrences = count_substring_occurrences(main_string, substring)

print(f"The substring '{substring}' occurs {occurrences} times in the main string.")

Enter the main string:  mufiz is writing a python code in pyhton platform
Enter the substring to count:  pyhton

The substring '{substring}' occurs {occurrences} times in the main string.

# Que-22

In [11]:
s = input("Enter a string: ")

if len(s) % 4 == 0:
    result = s[::-1]
else:
    result = s

print("Result:", result)

Enter a string:  abcd

Result: dcba

# Que-24

In [24]:
string = input("Enter the original string: ")
insert_string = input("Enter the string to insert: ")

middle = len(string) // 2

result = string[:middle] + insert_string + string[middle:]

print("Resulting string:", result)

Enter the original string:  abcdef
Enter the string to insert:  ****

Resulting string: abc****def

# Que-29

In [30]:
numbers = [2, 4, 5]

if len(numbers) == 0:
    print("The list is empty.")
else:
    largest = numbers[0]
    smallest = numbers[0]
    total_sum = 0

    for num in numbers:
        if num > largest:
            largest = num
        if num < smallest:
            smallest = num
        total_sum += num

    print("Largest number:", largest)
    print("Smallest number:", smallest)
    print("Sum of all numbers:", total_sum)

Largest number: 5
Smallest number: 2
Sum of all numbers: 11

# Que-32

In [10]:
x = [1, 2, 2, 3, 4, 4, 5]

new_list = list(set(x))

print("Original list:", x)
print("List after removing duplicates:", new_list)

Original list: [1, 2, 2, 3, 4, 4, 5]
List after removing duplicates: [1, 2, 3, 4, 5]

# Que-33

In [15]:
a = [1, 2, 3]

if not a:
    print("The list is empty.")
else:
    print("The list is not empty.")

The list is not empty.

# Que-34

In [21]:
x = [1, 2, 3, 4]
y = [5, 6, 3, 8]

common = False

for item in x:
    if item in y:
        common = True
        break  

if common_found:
    print("The lists have at least one common member.")
else:
    print("The lists do not have any common members.")

The lists have at least one common member.

# Que-35

In [26]:
list = []
for i in range(1, 31):
    list.append(i ** 2)

first = squares[:5]

last = squares[-5:]

print("First 5 elements:", first)
print("Last 5 elements:", last)

First 5 elements: [1, 4, 9, 16, 25]
Last 5 elements: [676, 729, 784, 841, 900]

# Que-36

In [29]:
def unique_elements(input_list):
    # Create an empty list to store unique elements
    unique_list = []
    # Create a set to track seen elements
    seen = set()
    
    # Iterate through the input list
    for item in input_list:
        # If the item is not in the seen set, it's unique
        if item not in seen:
            unique_list.append(item)  # Add the unique item to the result list
            seen.add(item)  # Mark the item as seen
    
    return unique_list

# Example usage
my_list = [1, 2, 2, 3, 4, 4, 5]
result = unique_elements(my_list)
print("Original list:", my_list)
print("List with unique elements:", result)

Original list: [1, 2, 2, 3, 4, 4, 5]
List with unique elements: [1, 2, 3, 4, 5]

# que-37

In [34]:
list = ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

result = ""

for x in list:
    result += x

print("The resulting string is:", result)

The resulting string is: Hello World

# Que-38

In [55]:
import random

x = ['apple', 'banana', 'cherry', 'date', 'elderberry']

random = random.choice(x)

print("Randomly selected item:", random)

Randomly selected item: cherry

# Que-39

In [102]:
list = [5, 2, 9, 1, 7, 3, 8]

list.sort()

if len(list) >= 2:
    second = list[1]
    print("The second smallest number is:", second)
else:
    print("NOT!!!!!")

The second smallest number is: 2

# Que-40

In [111]:
z = [1, 2, 2, 3, 4, 4, 5, 5, 6]

unique_list = []

for i in z:
    if i not in unique_list:
        unique_list.append(i)

print("Unique values in the list:", unique_list)

Unique values in the list: [1, 2, 3, 4, 5, 6]

# Que-42

In [114]:
my_list = [1, 2, 3, 4, 5]

var1, var2, var3, var4, var5 = my_list

print("Variable 1:", var1)
print("Variable 2:", var2)
print("Variable 3:", var3)
print("Variable 4:", var4)
print("Variable 5:", var5)

Variable 1: 1
Variable 2: 2
Variable 3: 3
Variable 4: 4
Variable 5: 5

# Que-44

In [2]:
y = ("hello",67,45,"good",67)
print(y)
print(type(y))

('hello', 67, 45, 'good', 67)
<class 'tuple'>

# Que - 45

In [39]:
tuple = ("red", 2, "blue")

listt = list(tuple)

listt

['red', 2, 'blue']

# Que - 46

In [48]:
# Example list of tuples
x = [('a', 1), ('b', 2), ('c', 3)]

# Convert the list of tuples to a dictionary
dic = {key: value for key, value in x}

print(dic)

{'a': 1, 'b': 2, 'c': 3}

# Que - 48

In [13]:
dict1 = {'apple': 3, 'banana': 1, 'cherry': 2}

asc = dict(sorted(dict1.items(), key=lambda item: item[1]))

des = dict(sorted(dict1.items(), key=lambda item: item[1], reverse=True))

print("Sorted by value (ascending):")
print(asc)

print("Sorted by value (descending):")
print(des)

Sorted by value (ascending):
{'banana': 1, 'cherry': 2, 'apple': 3}
Sorted by value (descending):
{'apple': 3, 'cherry': 2, 'banana': 1}

# Que - 49

In [24]:
# Example dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = {'e': 5, 'f': 6}

# Concatenate dictionaries using unpacking
comb = {**dict1, **dict2, **dict3}

print("Combined dictionary = ",comb)

Combined dictionary =  {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

# Que - 50

In [30]:
y = {'name': 'Alice', 'age': 30, 'city': 'New York'}

keyy = 'age'

if keyy in y:
    print(f"The key '{keyy}' exists in the dictionary.")
else:
    print(f"The key '{keyy}' does not exist in the dictionary.")

The key 'age' exists in the dictionary.

# Que - 53

In [37]:
my_dict = {key: None for key in range(1, 16)}

print("Dictionary with keys between 1 and 15:")
print(my_dict)

Dictionary with keys between 1 and 15:
{1: None, 2: None, 3: None, 4: None, 5: None, 6: None, 7: None, 8: None, 9: None, 10: None, 11: None, 12: None, 13: None, 14: None, 15: None}

# Que- 54

In [69]:
m = {'name': 'Alice', 'age': 30, 'city': 'New York', 'email': 'alice@example.com'}

keys = ['age', 'city', 'country']

all = True
for i in keys:
    if i not in m:
        all = False
        print(f"The key '{i}' does not exist in the dictionary.")

if all:
    print("All keys exist in the dictionary.")

The key 'country' does not exist in the dictionary.

# Que - 55

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

merge = {**dict1, **dict2}

print("Merged dictionary : ", merge)

# Que - 56

In [93]:
k = ['a', 'b', 'c', 'd']
v = [400, 400, 300, 400]

j = {}

for i in range(len(k)):
    j[k[i]] = v[i]

print("Counter ({})".format(j))

Counter ({'a': 400, 'b': 400, 'c': 300, 'd': 400})

# Que -57

In [104]:
my = {'a': 10, 'b': 45, 'c': 32, 'd': 78, 'e': 56, 'f': 99}

values = list(my.values())

values.sort(reverse=True)

print("The highest 3 values in the dictionary are : ", values[0], values[1], values[2])

The highest 3 values in the dictionary are :  99 78 56

# Que - 60

In [143]:
s = 'w3resource'

co = {}

for char in s:
    if char in co:
        co[char] += 1
    else:
        co[char] = 1

print("Character count dictionary :", co)

Character count dictionary : {'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

# Que - 61

In [169]:
def factorial(n):
    if n < 0:
        print("Input must be a non-negative integer")
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

number = int(input("Enter any number : "))
print(f"Factorial of {number} : {factorial(number)}")

Enter any number :  4

Factorial of 4 : 24

# Que - 62

In [180]:
def in_range(number, start, end):

    if start <= number <= end:
        return True
    else:
        return False

num = int(input("Enter any number : "))
rs = 1
re = 10

result = in_range(num, rs, re)

print(result)

Enter any number :  11

False

# Que - 64

In [2]:
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("racecar"))  # Output: True
print(is_palindrome("hello"))    # Output: False

True
False

# Que -72

In [14]:
g = open("MUFIZ.txt","w")
g.write("sessoin for python coding....")

29

In [20]:
g = open("MUFIZ.txt","r")
print(g.read())
g.close()

sessoin for python coding....

# Que -73

In [25]:
g = open("MUFIZ.txt","a")
g.write("@@@ Add data @@@@")
g.close()

In [29]:
g = open("MUFIZ.txt","r")
print(g.read())
g.close()

sessoin for python coding....@@@ Add data @@@@@@@ Add data @@@@

# Que - 74

In [32]:
res = 1
nm = open("MUFIZ.txt","r")
curr = 1
for n in nm:
    if curr == res:
        print(n)
        break
    curr = curr+1

sessoin for python coding....@@@ Add data @@@@@@@ Add data @@@@

# Que - 75

In [35]:
res = 3
nm = open("MUFIZ.txt","r")
curr = 1
for n in nm:
    if curr == res:
        print(n)
        break
    curr = curr+1

xyz

# Que - 76

In [4]:
filename = 'MUFIZ.txt'

l1 = []

with open(filename, 'r') as file:
    for line in file:
        l1.append(line.strip())

print(l1)

['sessoin for python coding....@@@ Add data @@@@@@@ Add data @@@@', 'abc', 'xyz']

# Que - 77

In [11]:
filename1 = 'MUFIZ.txt'

o = ""

with open(filename1, 'r') as file:
    for line in file:
        o += line

print(o)

sessoin for python coding....@@@ Add data @@@@@@@ Add data @@@@
abc
xyz

# Que - 78

In [21]:
filename2 = 'MUFIZ.txt'

words = []

with open(filename2, 'r') as file:
    for line in file:
        words.extend(line.split())

max_length = 0
longest_words = []

for word in words:
    word_length = len(word)
    if word_length > max_length:
        max_length = word_length
        longest_words = [word]
    elif word_length == max_length:
        longest_words.append(word)

print("Longest words:", longest_words)

Longest words: ['coding....@@@']

# Que - 79

In [23]:
filename3 = 'MUFIZ.txt'

line_count = 0

with open(filename3, 'r') as file:
    for line in file:
        line_count += 1

print("Number of lines:", line_count)

Number of lines: 3

# Que - 81

In [28]:
l2 = ['apple', 'banana', 'cherry', 'date']

filename4 = 'output.txt'

with open(filename4, 'w') as file:
    for item in l2:
        file.write(item + '\n')

print("List has been written to ", filename4)

List has been written to  output.txt

# Que - 82

In [37]:
sf = 'MUFIZ.txt'
df = 'destination.txt'

sf = open(sf, 'r')

df = open(df, 'w')

for line in sf:
    df.write(line)

sf.close()
df.close()

print("Contents of ",{sf}," have been copied to ",{df})

Contents of  {<_io.TextIOWrapper name='MUFIZ.txt' mode='r' encoding='cp1252'>}  have been copied to  {<_io.TextIOWrapper name='destination.txt' mode='w' encoding='cp1252'>}

# Que - 90

In [46]:
while True:
    try:
        p = input("Enter an odd number: ")
        
        number = int(p)
        
        if number % 2 == 0:
            print("Error: The number is not odd. Please enter an odd number.")
        else:
            print("You entered the odd number: ",number)
            break

    except ValueError:
        print("Error: Invalid input. Please enter a valid integer.")

Enter an odd number:  10

Error: The number is not odd. Please enter an odd number.

Enter an odd number:  5

You entered the odd number:  5